.git
.gitignore
.env
.env.*
!.env.example

vendor
node_modules

.phpunit.result.cache

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

docker-compose.yml
Dockerfile
README.md
tests